<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="./tests/bootstrap.php"
  backupGlobals="false"
  backupStaticAttributes="false"
  >
  <testsuites>
    <testsuite name="Main test suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <!-- Turn on all errors - using a large integer means all bit fields should be set -->
    <ini name="error_reporting" value="2147483647"/>
    <const name="ERROR_REPORTING" value="2147483647"/>
  </php>
</phpunit>
